<div style='text-align: center;'>
  <h1 style='text-align: center;'><%= I18n.t('customer.notifications.email.welcome') %>, <%= @customer_name %></h1>
  <p>Please follow <a href="<%= ENV['OMS_STORE_FRONT_BASE_URL'] %>/setup" target='_blank' rel='noopener'>this link</a>
  to complete your invitation</p>
</div>
